@charset "utf-8";
/***** 汎用 *****/
* {
    font-family:"Lato", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
        Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    box-sizing: border-box;
}

html {
}

html, body{
    height: 100%;
}
#wrap{
  min-height: 100%;
}

body, div#wrap {
    position: relative;
}
a {
    color: #2B2B2B;
    text-decoration: none;
    cursor: pointer;
}
button {
    cursor: pointer;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

.hover-opa{
   opacity: 1;
   z-index: 2;
   transition: opacity .3s ease;
}
.hover-opa:hover{
   opacity: .7;
}
.block{
   display: block;
}
.is-hide{
   display: none;
}
.flex{
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}